*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    text-align: center;
    padding: 5px; }
  
.imglogo {
    border-radius: 10%;
    width: 100px; }

body{
    background: rgb(17,17,17);
    background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(41,37,37,1) 18%, rgba(24,14,14,1) 80%, rgba(51,51,51,1) 100%);
    color:#ffffff;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    font-family: "Rock Salt", cursive;
    font-weight: bold; 
}

h1 {
    font-size:25px;
    text-align: center; 
    padding: 5px;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
}

h2 {
    font-size:20px;
    text-align: center; 
    padding: 5px;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
}

h3 {
    font-size:15px;
    text-align: center; 
    padding: 5px;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
}

.menusuperior {
    list-style: none;
    text-align: left; }
    .menusuperior li {
      display: inline-block; }
      .menusuperior li a {
        text-decoration: none;
        display: block;
        padding: 10px 10px;
        color: #ffffff;
        font-family: "Rock Salt", cursive; }          

.subtitulo{
    display: flex;
    justify-content: space-between;
}

.tienda section {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tienda section img {
    width: 150px;
    height: 150px;
    border: rgb(117, 102, 102) 2px double;
    margin: auto;
}

.carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown-menu {
    background-color: gray
}


@media screen and (max-width: 600px) {
  .galeria section{
      justify-content: center;
      img{
          margin: 5px;
      }
  }
}